.navbar-sec .navbar-nav .nav-item {
  font-size: 16px;
  margin-right: 25px;
}
.navbar-sec .navbar-nav .nav-item .nav-link:hover, .navbar-sec .navbar-nav .nav-item .nav-link:focus, .navbar-sec .navbar-nav .nav-item .nav-link:active {
  background-color: #626262;
  color: #fff;
  border-radius: 5px;
}

.lifestyle-sec .pri-heading {
  font-size: 16px;
  color: #b4ad9e;
}
.lifestyle-sec .para {
  font-size: 14px;
}

.photo-sec .pri-heading {
  font-size: 16px;
  color: #b4ad9e;
}
.photo-sec .para {
  font-size: 14px;
}

.diary-sec .pri-heading {
  font-size: 16px;
  color: #b4ad9e;
}
.diary-sec .para {
  font-size: 14px;
}

.footer .condition li {
  list-style: none;
  margin: 0 15px 0 15px;
}
.footer .condition li a {
  text-decoration: none;
  color: #fff;
}