.navbar-sec{
    
    .navbar-nav .nav-item{
        font-size: 16px;
        margin-right: 25px;
        .nav-link:hover , .nav-link:focus , .nav-link:active{
            background-color: $pri-color;
            color: $white-color;
            border-radius: 5px;
        }
    }
}